In [118]:
for country in countries:
    IPouts = int(pitching_country_df.loc[country, 'IPouts'])
    ER = int(pitching_country_df.loc[country, 'ER'])
    try:
        ERA = (ER*9)/(IPouts/3)
    except ZeroDivisionError:
        ERA = 0
    pitching_country_df.loc[country,'ERA'] = ERA
    
pitching_country_df['ERA']

country
USA                3.8355
D.R.              4.17203
Mexico            4.08966
Panama            4.01812
Cuba              3.86949
Venezuela         4.14061
P.R.              4.10559
Russia            3.92577
CAN               4.01417
Nicaragua         3.99269
Germany           3.97495
Japan              4.0652
Italy             4.83838
South Korea       4.29931
Australia           4.385
Colombia          3.83065
Netherlands       3.46471
Ireland           2.98384
Hong Kong         4.89637
NaN                     0
Afghanistan       4.04348
United Kingdom    3.14155
Taiwan             4.3135
Philippines       4.57459
V.I.              3.40637
Jamaica           4.30175
Poland            3.70364
Aruba             5.12929
Sweden            3.93413
Bahamas            5.5102
Brazil            5.94419
Viet Nam          4.05278
Switzerland       2.97673
Austria           3.55313
Curacao           3.28696
France            3.60127
Peru                  1.5
Indonesia         6.12766
Finland            10.125
Lithuania         6.71351
Spain             6.29204
At Sea            4.35484
Slovakia          3.28977
Guam              4.70769
South Africa      14.3265
Norway            3.81176
Saudi Arabia      3.44277
Czech Republic          0
Greece                  0
Honduras                0
Denmark                 0
Singapore               0
China                   0
Belgium                 0
Belize                  0
American Samoa          0
Portugal                0
Latvia                  0
Name: ERA, dtype: object

In [34]:
#IMPORTANT
from zipfile import ZipFile


#Create a ZipFile Object and load sample.zip in it
with ZipFile('Appearances.csv.zip', 'r') as zipping:
   # Extract all the contents of zip file in current directory
   zipping.extract('Appearances.csv', 'Unzipped.csv')


#Create a ZipFile Object and load sample.zip in it
with ZipFile('Batting.csv.zip', 'r') as zipping:
   # Extract all the contents of zip file in current directory
   zipping.extract('Batting.csv', 'Unzipped.csv')


#Create a ZipFile Object and load sample.zip in it
with ZipFile('Fielding.csv.zip', 'r') as zipping:
   # Extract all the contents of zip file in current directory
   zipping.extract('Fielding.csv', 'Unzipped.csv')

In [49]:
trout = batting.loc[batting['playerID'] == 'troutmi01']
total = trout['G'].sum()
total

1199

In [37]:
for row in batting:
    player = str(new_batting['batting_ids'])
    Data = people.loc[people['playerID'] == player]
    print(type(row))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [20]:
new_batting = pd.DataFrame({'playerID' : ['troutmi01']})
player = 'troutmi01'
Data = batting.loc[batting['playerID'] == player]
new_batting['G'] = Data['G'].sum()
new_batting['AB'] = Data['AB'].sum()
new_batting['R'] = Data['R'].sum()
new_batting['H'] = Data['H'].sum()
new_batting['2B'] = Data['2B'].sum()
new_batting['3B'] = Data['3B'].sum()
new_batting['HR'] = Data['HR'].sum()
new_batting['RBI'] = Data['RBI'].sum()
new_batting['SB'] = Data['SB'].sum()
new_batting['CS'] = Data['CS'].sum()
new_batting['BB'] = Data['BB'].sum()
new_batting['SO'] = Data['SO'].sum()
new_batting['IBB'] = Data['IBB'].sum()
new_batting['HBP'] = Data['HBP'].sum()
new_batting['SH'] = Data['SH'].sum()
new_batting['SF'] = Data['SF'].sum()
new_batting['GIDP'] = Data['GIDP'].sum()

new_batting

,playerID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,troutmi01,1199,4340,903,1324,251,46,285,752.0,200.0,36.0,803,1118.0,100.0,81.0,0.0,48.0,57.0

In [75]:
#IMPORTANT
import pandas as pd
import numpy as np

import warnings 
warnings.filterwarnings('ignore')

##Import all of the csv files needed and convert them to dataframes
pitching = pd.read_csv('Pitching.csv')
people = pd.read_csv('People.csv')
batting = pd.read_csv('Unzipped.csv/Batting.csv')
batting_df = pd.DataFrame(batting)
people_df = pd.DataFrame(people)
pitching_df = pd.DataFrame(pitching)


people_batting_df = pd.merge(people_df, batting_df, how='inner', on='playerID')

people_pitching_df = pd.merge(people_df, pitching_df, how='inner', on='playerID')

##Creates a list of countries and states
countries = people['birthCountry'].drop_duplicates().to_list()
states = people['birthState'].drop_duplicates().to_list()

In [3]:
pitching_df = pitching_df.astype({'yearID': str})
people_batting_df = people_batting_df.astype({'yearID': str})

people_batting_df['ID'] = people_batting_df['playerID'] + (people_batting_df['yearID'])
pitching_df['ID'] = pitching_df['playerID'] + (pitching_df['yearID'])

people_batting_pitching_df = pd.merge(people_batting_df, pitching_df, how='inner', on='ID')
pbp_df = people_batting_pitching_df

country_pbp_df = pbp_df['birthCountry'].drop_duplicates()
country_pbp_df

0                   USA
22                 D.R.
159              Mexico
214              Panama
217                Cuba
344           Venezuela
362                P.R.
424              Russia
472                 CAN
769           Nicaragua
777             Germany
1148              Japan
1252              Italy
1756        South Korea
2078          Australia
2452           Colombia
4185        Netherlands
4415            Ireland
5354          Hong Kong
5454                NaN
5542        Afghanistan
5850     United Kingdom
8429             Taiwan
8527        Philippines
10120              V.I.
11172           Jamaica
12806            Poland
13376             Aruba
14046            Sweden
15639           Bahamas
17754            Brazil
18298          Viet Nam
21727       Switzerland
22779           Austria
23895           Curacao
27788            France
29669              Peru
31083         Indonesia
33121           Finland
35723         Lithuania
36638             Spain
39688            At Sea
40292          Slovakia
41160              Guam
45019      South Africa
53343            Norway
53863      Saudi Arabia
Name: birthCountry, dtype: object

In [120]:
#IMPORTANT

#creates dataframe for country pitching stats
pitching_country_df = people_pitching_df.iloc[0:0]
pitching_country_df['country'] = people['birthCountry'].drop_duplicates()
pitching_country_df = pitching_country_df.reset_index(drop=True)
pitching_country_df = pitching_country_df.drop(columns=['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry', 'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay', 'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast', 'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame', 'retroID', 'bbrefID', 'yearID', 'stint', 'teamID', 'lgID'])
pitching_country_df = pitching_country_df.set_index('country')

#create a list of pitching stats we want to record
pitching_stats = list(pitching_country_df.columns)

#complete country pitcher dataframe
for country in countries:
    data = people_pitching_df.loc[people_pitching_df['birthCountry'] == country]
    for stat in pitching_stats:
        stat_total = str(data[stat].sum())
        pitching_country_df.loc[country, stat] = stat_total
#Gets ERA
for country in countries:
    IPouts = int(pitching_country_df.loc[country, 'IPouts'])
    ER = int(pitching_country_df.loc[country, 'ER'])
    try:
        ERA = (ER*9)/(IPouts/3)
    except ZeroDivisionError:
        ERA = 0
    pitching_country_df.loc[country,'ERA'] = ERA



#creates dataframe for country batting stats
batting_country_df = people_batting_df.iloc[0:0]
batting_country_df['country'] = people['birthCountry'].drop_duplicates()
batting_country_df = batting_country_df.reset_index(drop=True)
batting_country_df = batting_country_df.drop(columns=['playerID','birthYear','birthMonth','birthDay','birthCountry','birthState','birthCity','deathYear','deathMonth','deathDay','deathCountry','deathState','deathCity','nameFirst','nameLast','nameGiven','weight','height','bats','throws','debut','finalGame','retroID','bbrefID','yearID','stint','teamID','lgID'])
batting_country_df = batting_country_df.set_index('country')

#create a list of batting stats we want to record
batting_stats = list(batting_country_df.columns)

#complete country batting dataframe
for country in countries:
    data = people_batting_df.loc[people_batting_df['birthCountry'] == country]
    for stat in batting_stats:
        stat_total = str(data[stat].sum())
        batting_country_df.loc[country, stat] = stat_total

In [93]:

for country in countries:
    data = people_pitching_df.loc[people_pitching_df['birthCountry'] == country]
    for stat in pitching_stats:
        stat_total = str(data[stat].sum())
        pitching_country_df.loc[country, stat] = stat_total
        
pitching_country_df

,W,L,G,GS,CG,SHO,SV,IPouts,H,ER,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
country,,,,,,,,,,,,,,,,,,,,,
USA,196186,196341,972079,396879,134055,18931,58715,10567182,3538317,1501125,...,65185.0,108813,97796.0,12012,15072835.0,254496,1792572,65708.0,51685.0,133449.0
D.R.,6632,6677,55439,11635,885,261,4549,357637,114960,55262,...,3741.0,4953,4698.0,766,512519.0,16678,60297,4079.0,3683.0,9406.0
Mexico,2019,1999,13450,4007,319,91,1001,106748,35006,16169,...,1014.0,1200,1085.0,234,152379.0,3719,17719,1427.0,1112.0,2673.0
Panama,403,390,3733,570,18,7,755,21684,6973,3227,...,236.0,208,243.0,42,30801.0,1642,3502,202.0,224.0,512.0
Cuba,2082,2066,10797,4201,1070,213,1003,110617,35862,15853,...,837.0,908,964.0,144,156867.0,3241,17688,757.0,564.0,1315.0
Venezuela,2693,2587,19772,5249,223,82,1456,143366,46414,21986,...,1269.0,1837,1663.0,278,204726.0,5324,23919,1468.0,1441.0,3866.0
P.R.,1854,1823,13616,3274,456,106,1052,98166,32538,14927,...,1112.0,1111,1088.0,163,141148.0,4015,16487,1031.0,931.0,2419.0
Russia,14,38,127,47,23,1,1,1630,559,237,...,0.0,28,17.0,1,2375.0,53,334,1.0,1.0,1.0
CAN,2258,2383,12850,4538,1296,167,985,123042,40900,18293,...,955.0,1391,1153.0,139,176411.0,3720,21440,918.0,817.0,1917.0
Nicaragua,466,408,1960,1027,142,36,34,22992,7654,3400,...,167.0,179,299.0,60,32469.0,283,3742,242.0,227.0,710.0
Germany,381,433,2347,772,363,15,116,22558,7918,3321,...,134.0,337,190.0,24,32550.0,579,4345,184.0,117.0,331.0
Japan,929,891,5970,1944,49,27,483,47867,15075,7207,...,395.0,675,499.0,57,67674.0,1531,7764,489.0,432.0,1183.0
Italy,36,54,265,84,28,4,12,2673,1006,479,...,0.0,22,7.0,4,4022.0,93,559,0.0,0.0,0.0
South Korea,319,293,1735,710,16,6,133,16077,5312,2560,...,158.0,184,314.0,25,23235.0,421,2777,231.0,153.0,446.0
Australia,196,196,2808,259,1,0,135,12013,3970,1951,...,150.0,199,161.0,20,17355.0,713,2131,132.0,175.0,372.0
Colombia,176,173,960,473,7,5,74,10044,3094,1425,...,58.0,114,136.0,12,14070.0,217,1536,93.0,79.0,240.0
Netherlands,317,287,814,764,281,61,1,16817,5407,2158,...,81.0,144,169.0,23,23490.0,26,2622,188.0,130.0,355.0
Ireland,708,648,1488,1373,1264,93,18,36575,12413,4042,...,0.0,689,286.0,3,52378.0,113,7341,0.0,0.0,0.0
Hong Kong,3,4,106,0,0,0,0,386,118,70,...,9.0,3,15.0,0,557.0,24,77,2.0,3.0,7.0
NaN,0,0,0,0,0,0,0,0,0,0,...,0.0,0,0.0,0,0.0,0,0,0.0,0.0,0.0
Afghanistan,2,2,45,0,0,0,2,207,74,31,...,8.0,4,1.0,0,301.0,19,36,3.0,2.0,10.0
United Kingdom,513,445,1597,963,673,50,51,25921,8511,3016,...,81.0,318,112.0,23,36418.0,253,4480,106.0,68.0,178.0
Taiwan,151,114,857,320,4,1,20,7480,2531,1195,...,45.0,76,79.0,9,10605.0,160,1269,69.0,72.0,221.0
Philippines,11,8,111,13,0,0,1,543,197,92,...,10.0,6,4.0,0,794.0,29,105,12.0,10.0,13.0
V.I.,78,60,457,105,22,5,63,3765,1239,475,...,57.0,46,34.0,8,5310.0,199,546,4.0,5.0,14.0
Jamaica,64,74,259,184,7,4,0,3609,1181,575,...,17.0,66,94.0,1,5224.0,18,625,40.0,32.0,137.0
Poland,89,105,590,155,34,6,55,4950,1454,679,...,62.0,53,63.0,5,7045.0,220,761,7.0,5.0,0.0
Aruba,101,132,367,317,29,4,1,6064,2278,1152,...,26.0,63,57.0,5,8827.0,19,1224,42.0,54.0,226.0
Sweden,34,58,147,94,43,6,5,2505,825,365,...,0.0,19,36.0,4,3604.0,34,476,0.0,0.0,0.0
Bahamas,1,2,4,2,1,0,0,49,17,10,...,0.0,0,1.0,1,72.0,1,10,1.0,1.0,2.0
Brazil,9,14,79,27,0,0,2,645,234,142,...,1.0,20,11.0,2,981.0,23,154,8.0,5.0,13.0
Viet Nam,43,44,518,30,2,1,182,2425,857,364,...,48.0,27,26.0,2,3487.0,360,416,31.0,29.0,98.0
Switzerland,70,90,198,165,129,18,5,4254,1355,469,...,0.0,38,80.0,5,5880.0,30,663,0.0,0.0,0.0
Austria,21,28,118,43,26,4,2,1421,534,187,...,0.0,4,4.0,1,2032.0,37,243,0.0,0.0,0.0
Curacao,89,66,761,147,3,1,301,4485,1263,546,...,31.0,34,41.0,12,6162.0,445,584,53.0,32.0,84.0
France,63,49,157,146,23,8,0,2834,889,378,...,19.0,36,12.0,8,3980.0,4,423,38.0,29.0,61.0
Peru,0,0,6,0,0,0,2,36,5,2,...,0.0,2,1.0,0,46.0,2,2,0.0,0.0,0.0
Indonesia,9,5,80,1,0,0,5,282,108,64,...,12.0,5,3.0,0,435.0,34,64,4.0,5.0,6.0
Finland,0,0,2,0,0,0,0,8,4,3,...,0.0,0,0.0,0,11.0,0,3,0.0,0.0,0.0
Lithuania,1,1,59,0,0,0,0,185,69,46,...,1.0,5,4.0,0,277.0,22,47,1.0,2.0,6.0
Spain,3,9,52,12,0,0,1,339,144,79,...,2.0,5,8.0,0,542.0,10,86,3.0,4.0,15.0
At Sea,0,1,3,3,0,0,0,31,18,5,...,0.0,0,0.0,0,0.0,0,9,0.0,0.0,0.0
Slovakia,247,218,756,444,243,28,57,11761,4238,1433,...,0.0,59,94.0,5,16493.0,216,1835,0.0,0.0,0.0
Guam,4,8,16,13,0,0,0,195,64,34,...,0.0,6,3.0,0,300.0,0,43,0.0,2.0,5.0
South Africa,0,0,13,2,0,0,0,49,31,26,...,0.0,2,4.0,0,93.0,6,28,0.0,0.0,3.0
Norway,3,4,13,9,4,0,0,170,53,24,...,0.0,2,4.0,0,252.0,3,41,0.0,0.0,0.0
Saudi Arabia,14,14,303,1,0,0,5,996,315,127,...,16.0,14,11.0,0,1368.0,62,139,4.0,13.0,36.0
Czech Republic,0,0,0,0,0,0,0,0,0,0,...,0.0,0,0.0,0,0.0,0,0,0.0,0.0,0.0
Greece,0,0,0,0,0,0,0,0,0,0,...,0.0,0,0.0,0,0.0,0,0,0.0,0.0,0.0
Honduras,0,0,0,0,0,0,0,0,0,0,...,0.0,0,0.0,0,0.0,0,0,0.0,0.0,0.0
Denmark,0,0,0,0,0,0,0,0,0,0,...,0.0,0,0.0,0,0.0,0,0,0.0,0.0,0.0
Singapore,0,0,0,0,0,0,0,0,0,0,...,0.0,0,0.0,0,0.0,0,0,0.0,0.0,0.0
China,0,0,0,0,0,0,0,0,0,0,...,0.0,0,0.0,0,0.0,0,0,0.0,0.0,0.0
Belgium,0,0,0,0,0,0,0,0,0,0,...,0.0,0,0.0,0,0.0,0,0,0.0,0.0,0.0
Belize,0,0,0,0,0,0,0,0,0,0,...,0.0,0,0.0,0,0.0,0,0,0.0,0.0,0.0
American Samoa,0,0,0,0,0,0,0,0,0,0,...,0.0,0,0.0,0,0.0,0,0,0.0,0.0,0.0
Portugal,0,0,0,0,0,0,0,0,0,0,...,0.0,0,0.0,0,0.0,0,0,0.0,0.0,0.0
Latvia,0,0,0,0,0,0,0,0,0,0,...,0.0,0,0.0,0,0.0,0,0,0.0,0.0,0.0

In [46]:
batting_ids = batting_df
batting_ids = batting_ids['playerID'].drop_duplicates()
new_batting = pd.DataFrame({'batting_ids' : batting_ids})



new_batting['G'] = ''
new_batting['AB'] = ''
new_batting['R'] = ''
new_batting['H'] = ''
new_batting['2B'] = ''
new_batting['3B'] = ''
new_batting['HR'] = ''
new_batting['RBI'] = ''
new_batting['SB'] = ''
new_batting['CS'] = ''
new_batting['BB'] = ''
new_batting['SO'] = ''
new_batting['IBB'] = ''
new_batting['HBP'] = ''
new_batting['SH'] = ''
new_batting['SF'] = ''
new_batting['GIDP'] = ''

for row in new_batting:
    player = str(new_batting['batting_ids'])
    Data = batting_df.loc[batting_df['playerID'] == player]
    new_batting['G'] = Data['G'].sum()
    new_batting['AB'] = Data['AB'].sum()
    new_batting['R'] = Data['R'].sum()
    new_batting['H'] = Data['H'].sum()
    new_batting['2B'] = Data['2B'].sum()
    new_batting['3B'] = Data['3B'].sum()
    new_batting['HR'] = Data['HR'].sum()
    new_batting['RBI'] = Data['RBI'].sum()
    new_batting['SB'] = Data['SB'].sum()
    new_batting['CS'] = Data['CS'].sum()
    new_batting['BB'] = Data['BB'].sum()
    new_batting['SO'] = Data['SO'].sum()
    new_batting['IBB'] = Data['IBB'].sum()
    new_batting['HBP'] = Data['HBP'].sum()
    new_batting['SH'] = Data['SH'].sum()
    new_batting['SF'] = Data['SF'].sum()
    new_batting['GIDP'] = Data['GIDP'].sum()

new_batting

,batting_ids,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,0,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,addybo01,0,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,allisar01,0,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,allisdo01,0,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,ansonca01,0,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107417,ynoahu01,0,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
107418,youngal01,0,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
107421,zavalse01,0,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
107422,zeuchtj01,0,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
107425,zimmeky01,0,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [65]:
people_df = people_df.reset_index(drop=True)
batting_df = batting_df.reset_index(drop=True)

for row in batting_df:
    player = str(batting_df['playerID'])
    data = people_df.loc[people_df['playerID'] == player]
    batting_df['birthCountry'] = data['birthCountry']
    
batting_df

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,birthCountry
0,aardsda01,2012,1,NYA,AL,1,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,aardsda01,2006,1,CHN,NL,45,2,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0,NaN
2,aardsda01,2015,1,ATL,NL,33,1,0,0,0,...,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,NaN
3,aardsda01,2007,1,CHA,AL,25,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,aardsda01,2008,1,BOS,AL,47,1,0,0,0,...,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107424,zwilldu01,1915,1,CHF,FL,150,548,65,157,32,...,24.0,NaN,67,65.0,NaN,2.0,18.0,NaN,NaN,NaN
107425,zwilldu01,1916,1,CHN,NL,35,53,4,6,1,...,0.0,NaN,4,6.0,NaN,0.0,2.0,NaN,NaN,NaN
107426,zychto01,2017,1,SEA,AL,45,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
107427,zychto01,2015,1,SEA,AL,13,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
107428,zychto01,2016,1,SEA,AL,12,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [60]:
for row in batting_df:
    player = str(batting_df['playerID'])
    print(player)

0         abercda01
1          addybo01
2         allisar01
3         allisdo01
4         ansonca01
            ...
107424    zimmejo02
107425    zimmeky01
107426    zimmery01
107427    zobribe01
107428    zuninmi01
Name: playerID, Length: 107429, dtype: object
0         abercda01
1          addybo01
2         allisar01
3         allisdo01
4         ansonca01
            ...
107424    zimmejo02
107425    zimmeky01
107426    zimmery01
107427    zobribe01
107428    zuninmi01
Name: playerID, Length: 107429, dtype: object
0         abercda01
1          addybo01
2         allisar01
3         allisdo01
4         ansonca01
            ...
107424    zimmejo02
107425    zimmeky01
107426    zimmery01
107427    zobribe01
107428    zuninmi01
Name: playerID, Length: 107429, dtype: object
0         abercda01
1          addybo01
2         allisar01
3         allisdo01
4         ansonca01
            ...
107424    zimmejo02
107425    zimmeky01
107426    zimmery01
107427    zobribe01
107428    zuninmi01
Name: playerID, Length: 107429, dtype: object
0         abercda01
1          addybo01
2         allisar01
3         allisdo01
4         ansonca01
            ...
107424    zimmejo02
107425    zimmeky01
107426    zimmery01
107427    zobribe01
107428    zuninmi01
Name: playerID, Length: 107429, dtype: object
0         abercda01
1          addybo01
2         allisar01
3         allisdo01
4         ansonca01
            ...
107424    zimmejo02
107425    zimmeky01
107426    zimmery01
107427    zobribe01
107428    zuninmi01
Name: playerID, Length: 107429, dtype: object
0         abercda01
1          addybo01
2         allisar01
3         allisdo01
4         ansonca01
            ...
107424    zimmejo02
107425    zimmeky01
107426    zimmery01
107427    zobribe01
107428    zuninmi01
Name: playerID, Length: 107429, dtype: object
0         abercda01
1          addybo01
2         allisar01
3         allisdo01
4         ansonca01
            ...
107424    zimmejo02
107425    zimmeky01
107426    zimmery01
107427    zobribe01
107428    zuninmi01
Name: playerID, Length: 107429, dtype: object
0         abercda01
1          addybo01
2         allisar01
3         allisdo01
4         ansonca01
            ...
107424    zimmejo02
107425    zimmeky01
107426    zimmery01
107427    zobribe01
107428    zuninmi01
Name: playerID, Length: 107429, dtype: object
0         abercda01
1          addybo01
2         allisar01
3         allisdo01
4         ansonca01
            ...
107424    zimmejo02
107425    zimmeky01
107426    zimmery01
107427    zobribe01
107428    zuninmi01
Name: playerID, Length: 107429, dtype: object
0         abercda01
1          addybo01
2         allisar01
3         allisdo01
4         ansonca01
            ...
107424    zimmejo02
107425    zimmeky01
107426    zimmery01
107427    zobribe01
107428    zuninmi01
Name: playerID, Length: 107429, dtype: object
0         abercda01
1          addybo01
2         allisar01
3         allisdo01
4         ansonca01
            ...
107424    zimmejo02
107425    zimmeky01
107426    zimmery01
107427    zobribe01
107428    zuninmi01
Name: playerID, Length: 107429, dtype: object
0         abercda01
1          addybo01
2         allisar01
3         allisdo01
4         ansonca01
            ...
107424    zimmejo02
107425    zimmeky01
107426    zimmery01
107427    zobribe01
107428    zuninmi01
Name: playerID, Length: 107429, dtype: object
0         abercda01
1          addybo01
2         allisar01
3         allisdo01
4         ansonca01
            ...
107424    zimmejo02
107425    zimmeky01
107426    zimmery01
107427    zobribe01
107428    zuninmi01
Name: playerID, Length: 107429, dtype: object
0         abercda01
1          addybo01
2         allisar01
3         allisdo01
4         ansonca01
            ...
107424    zimmejo02
107425    zimmeky01
107426    zimmery01
107427    zobribe01
107428    zuninmi01
Name: playerID, Length: 107429, dtype: object
0         abercda01
1          addybo01
2         allisar01
3         allisdo01
4         ansonca01
            ...
107424    zimmejo02
107425    zimmeky01
107426    zimmery01
107427    zobribe01
107428    zuninmi01
Name: playerID, Length: 107429, dtype: object
0         abercda01
1          addybo01
2         allisar01
3         allisdo01
4         ansonca01
            ...
107424    zimmejo02
107425    zimmeky01
107426    zimmery01
107427    zobribe01
107428    zuninmi01
Name: playerID, Length: 107429, dtype: object
0         abercda01
1          addybo01
2         allisar01
3         allisdo01
4         ansonca01
            ...
107424    zimmejo02
107425    zimmeky01
107426    zimmery01
107427    zobribe01
107428    zuninmi01
Name: playerID, Length: 107429, dtype: object
0         abercda01
1          addybo01
2         allisar01
3         allisdo01
4         ansonca01
            ...
107424    zimmejo02
107425    zimmeky01
107426    zimmery01
107427    zobribe01
107428    zuninmi01
Name: playerID, Length: 107429, dtype: object
0         abercda01
1          addybo01
2         allisar01
3         allisdo01
4         ansonca01
            ...
107424    zimmejo02
107425    zimmeky01
107426    zimmery01
107427    zobribe01
107428    zuninmi01
Name: playerID, Length: 107429, dtype: object
0         abercda01
1          addybo01
2         allisar01
3         allisdo01
4         ansonca01
            ...
107424    zimmejo02
107425    zimmeky01
107426    zimmery01
107427    zobribe01
107428    zuninmi01
Name: playerID, Length: 107429, dtype: object
0         abercda01
1          addybo01
2         allisar01
3         allisdo01
4         ansonca01
            ...
107424    zimmejo02
107425    zimmeky01
107426    zimmery01
107427    zobribe01
107428    zuninmi01
Name: playerID, Length: 107429, dtype: object
0         abercda01
1          addybo01
2         allisar01
3         allisdo01
4         ansonca01
            ...
107424    zimmejo02
107425    zimmeky01
107426    zimmery01
107427    zobribe01
107428    zuninmi01
Name: playerID, Length: 107429, dtype: object

In [66]:
people_df
batting_df
merge_df = pd.merge(people_df, batting_df, how='inner', on='playerID')

In [69]:
merge_df.loc[merge_df['playerID'] == 'troutmi01']

,playerID,birthYear,birthMonth,birthDay,birthCountry_x,birthState,birthCity,deathYear,deathMonth,deathDay,...,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,birthCountry_y
97919,troutmi01,1991.0,8.0,7.0,USA,NJ,Vineland,NaN,NaN,NaN,...,30.0,7.0,116,137.0,12.0,11.0,0.0,5.0,5.0,NaN
97920,troutmi01,1991.0,8.0,7.0,USA,NJ,Vineland,NaN,NaN,NaN,...,22.0,4.0,94,90.0,15.0,7.0,0.0,4.0,8.0,NaN
97921,troutmi01,1991.0,8.0,7.0,USA,NJ,Vineland,NaN,NaN,NaN,...,4.0,0.0,9,30.0,0.0,2.0,0.0,1.0,2.0,NaN
97922,troutmi01,1991.0,8.0,7.0,USA,NJ,Vineland,NaN,NaN,NaN,...,16.0,2.0,83,184.0,6.0,10.0,0.0,10.0,6.0,NaN
97923,troutmi01,1991.0,8.0,7.0,USA,NJ,Vineland,NaN,NaN,NaN,...,49.0,5.0,67,139.0,4.0,6.0,0.0,7.0,7.0,NaN
97924,troutmi01,1991.0,8.0,7.0,USA,NJ,Vineland,NaN,NaN,NaN,...,11.0,2.0,110,120.0,14.0,16.0,0.0,4.0,5.0,NaN
97925,troutmi01,1991.0,8.0,7.0,USA,NJ,Vineland,NaN,NaN,NaN,...,11.0,7.0,92,158.0,14.0,10.0,0.0,5.0,11.0,NaN
97926,troutmi01,1991.0,8.0,7.0,USA,NJ,Vineland,NaN,NaN,NaN,...,33.0,7.0,110,136.0,10.0,9.0,0.0,8.0,8.0,NaN
97927,troutmi01,1991.0,8.0,7.0,USA,NJ,Vineland,NaN,NaN,NaN,...,24.0,2.0,122,124.0,25.0,10.0,0.0,4.0,5.0,NaN

In [89]:
pitching_country_df.loc['G', 'USA']

KeyError: 'G'